* {
	box-sizing: border-box;
  font-family: "Montserrat";
  margin: 0;
}

.container {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

/* section header */

header h1 {
  font-family: "Montserrat";
	font-size: 150px;
	font-weight: 700;
	text-align: center;
	color: white;
	line-height: 140px;
  margin: 0;
  text-transform: uppercase;
}

h1:after {
 	content: '';
  background-color: white;
  width: 60px;
  height: 3px;
  display: block;
  margin: 55px auto 0;
}

.gradient {
  background: url("http://i.cubeupload.com/tC8k1q.jpg") no-repeat 100% 100%;
  background-size: cover;
  background-position:  top center;
}

.header {
  padding-top: 29px;
	padding-bottom: 20px;
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

nav {
	overflow: hidden;
	padding-bottom: 10px;
}

.logo {
  float: left;
	font-family: "Montserrat";
	font-size: 30px;
	line-height: 38px;
	font-weight: 700;
	color: white;
}

.menu {
	text-align: right;
	list-style-type: none;
  padding: 15px 0 0 0;
}

.menu li {
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
	display: inline-block;
	position: relative;
	color: white;
	font-size: 14px;
	margin-left: 40px;
  height: 30px; 
  width: 60px;
}

.menu li a {
	text-align: left;
	color: white;
	padding-bottom: 12px;
  text-decoration: none;
}

.menu .menu-item.active a,
.menu .menu-item:hover a {
	display: inline-block;
	color: #fce38a;
	position: relative;
}

.menu .menu-item.active a:after,
.menu .menu-item:hover a:after {
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	background-color: #fce38a;
	width: 100%;
	height: 3px;
}

li.search {
  margin-left: 40px;
  width: 30px;
  background: url(http://i.cubeupload.com/xy6o3O.png) no-repeat 0px 13px;
}

li.cart {
  width: 30px;
  background: url(http://i.cubeupload.com/odCDMi.png) no-repeat 0px 15px;
}

.menu-icon:hover {
  opacity: 0.5;
}

.heading-subtitle {
  font-family: "Kaushan Script";
  color: white;
	text-align: center;
	font-size: 72px;
	margin-top: 135px;
	margin-bottom: 22px;
}

.learn {
  text-align: center;
	margin-top: 50px;
}

.learn-button {
  font-family: "Montserrat";
	display: inline-block;
	text-decoration: none;
	color: white;
  width: 160px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  border: 3px solid white;
  text-transform: uppercase;
}

.learn-button:hover {
  border: 3px solid #fce38a;
	color: #fce38a;
}

.navigation {
  margin-top: 150px;
}

.navigation-menu {
	list-style-type: none;
	font-size: 0;
	padding: 0;
	margin: 0;
  counter-reset:  item; 
}

ol li:before {
  content: counters(item, "", decimal-leading-zero);
  counter-increment: item;
  margin-left: -1px; 
  padding-top: 23px;
  position: absolute;
  font-family: "Montserrat";
	font-size: 24px;
  font-weight: 700;
  color: white;
}

.navigation-menu li {
	font-family: "Montserrat";
	font-size: 18px;
	vertical-align: top;
	margin-left: 30px;
	width: 275px;
	opacity: 0.5;
  display: inline-block;
  text-transform: uppercase;
}

.navigation-menu li:first-child {
	margin-left: 0;
}

.navigation-menu li:hover {
	opacity: 1;
}

.navigation-menu li a {
  border-top: 3px solid white;
	display: block;
	text-decoration: none;
	color: white;
	padding-top: 25px;
	width: 100%;
  padding-left: 35px;
}





/* section about us */

.aboutus {
	padding: 98px 0 110px;
}

.subtitle  {
	font-family: "Kaushan Script";
	font-size: 24px;
	text-align: center; 
  color: #333333;
  font-weight: 400;
}

.title {
  color: #333333;
  font-family: "Montserrat";
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 18px;
  text-transform: uppercase;
}

.title:after {
	content: '';
  background-color: #f38181;
 	width: 60px;
  height: 3px;
  display: block;
  margin: 35px auto 0;
}

.text {
  width: 954px;
	font-family: "Roboto";
	font-size: 15px;
	text-align: center;
	line-height: 24px;
	color:  #999999;
	margin-top: 40px;
	margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.example {
	font-size: 0;
}

.example img {
  width: 380px;
}

.example .picture {
  display: inline-block;
  position: relative;
  background-color: #95e1d3;
}

.pic-back {
  min-height: 250px;
  min-width: 380px;
  float: left;
}

.example .picture:nth-child(2) {
	margin: 0 30px;
}

.example .picture:hover .pic-back {
  position: relative;
  top: -10px;
  left: -10px;
}

.example .picture:hover .pic-back .gradient {
  position: absolute;
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9));
  width: 100%;
  height: 100%;
  z-index: 2;
}

.example .picture:hover .pic-back .hover-text {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  z-index: 2;
  text-transform: uppercase;
}

.hover-text p{
  padding: 0 30px;
}

.example .picture:hover .pic-back .hover-text .icon-users {
  display: block;
  margin: 0 auto 10px;
  width: 32px;
  height: 23px;
  background-image: url(http://i.cubeupload.com/tsXhBN.png);
  background-repeat: no-repeat;
}




/* section counter */

.count {
  background-color: #95e1d3;
	color: white;
}

.count-content {
	font-size: 0;
	border-right: 1px solid #b5eae0;
	border-left: 1px solid #b5eae0;
}

.count-item {
	display: inline-block;
	border-right: 1px solid #b5eae0;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	width: 20%;
	padding: 76px 20px 86px;
  text-transform: uppercase;
}

.count-item h3 {
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	display: block;
	margin-bottom: 20px;
}

.count-item:last-child {
	border-right: none;
}





/*section services*/

.services {
	padding-top: 110px;
	padding-bottom: 35px;
}

.services-subtitle {
  font-family: "Kaushan Script";
  color:  #333333;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  display:block;
  text-transform: none;
}

.services-title {
  font-family: "Montserrat";
  color:  #333333;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.services-title:after {
	content: '';
  background-color: #f38181;
 	width: 60px;
  height: 3px;
  display: block;
  margin: 35px auto 0;
}

.img_icon {
  float: left;
  width: 90px;
  text-align: center;
}

.name_descr {
  width: calc(100% - 90px);
  float: left;
}

.icon {
  display: inline-block;
	background-image: url(http://i.cubeupload.com/OCf8Mo.png);
}

.icon-photography {
  background-position: -89px -5px;
  width: 33px;
  height: 33px;
}

.icon-web {
  background-position: -5px -47px;
  width: 33px;
  height: 33px;
}

.icon-creativity {
  background-position: -5px -5px;
  width: 33px;
  height: 30px;
}

.icon-seo {
  background-position: -47px -5px;
  width: 33px;
  height: 33px;
}

.icon-html {
  background-position: -47px -47px;
  width: 33px;
  height: 33px;
}

.icon-digital {
  background-position: -89px -46px;
  width: 33px;
  height: 33px;
}

.services-box {
	font-size: 0;
	margin-top: 45px;
}

.services-box.after-line {
	margin-top: 65px;
}

.services-content {
  font-size: 0;
} 

.services-item {
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 33.333%;
	position: relative;
	padding: 40px 30px 50px 0px;
	font-size: 13px;
	line-height: 20px;
	color: #999999;
}

.services-item h3 {
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 13px;
  text-transform: uppercase;
}

.line {
  border-bottom: 1px solid #e5e5e5;
}



/*footer*/

footer {
	padding-top: 75px;
	background-color: #f8f8f8;
}

footer .information {
	overflow: hidden;
	height: auto;
}

.col {
	float: left;
	margin-bottom: 38px;
}

.info {
	width: 41%;
	padding-right: 30px;
}

.logo-mogo {
	font-size: 46px;
	font-weight: 700;
	color: #cccccc;
	margin-top: -9px;
}

.info p {
	font-size: 15px;
	color: #999999;
	font-family: "Roboto";
	line-height: 24px;
	margin: 30px 0 40px;
}

.instagram {
  width: 24%;
}

.blog {
  width: 35%;
}

.followers {
  font-size: 14px;
	color: #333333;
	padding-bottom: 19px;
	border-bottom: 1px solid #e5e5e5;
}

.followers p {
  display: inline-block;
  font-family: "Montserrat";
  color:  #333333;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.followers h3 {
	font-size: 18px;
  display: inline-block;
	font-weight: 700;
  font-family: "Montserrat";
  color:  #333333;
  text-align: left;
}

.follow-us {
	padding-top: 15px;
	margin-bottom: 34px;
}

.follow-us h4 {
	font-family: "Roboto";
	color: #999999;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
  float: left;
}

.social {
	display: inline-block;
	font-size: 0;
	padding: 0;
	margin: 0;
  list-style-type: none;
}

.social li {
	display: inline-block;
	font-size: 16px;
	margin-left: 14px;
  
}

.social li a {
	display: inline-block;
	width: 16px;
	color: #95e1d3;
  
}

.social-icon {
  background-image: url(http://i.cubeupload.com/b3STVl.png);
  width: 16px;
  height: 16px;
}

.social-icon:hover {
  opacity: 0.3;
}

.facebook {
  background-position: 0px 0px;
}

.twitter {
  background-position: -25px 0;
}

.inst {
  background-position: -56px 0;
}

.pin {
  background-position: -85px 0;
}

.google {
  background-position: -116px 0;
}

.youtube {
  background-position: -147px 0;
}

.ball {
  background-position: -176px 0;
}

.t { 
  background-position: 16px 0;
}

form {
	font-size: 0;
}

input {
	vertical-align: top;
	border: 1px solid #e7e7e7;
  background-color: white;
  width: 234px;
  height: 40px;
  padding: 0 13px;
  font-family: "Roboto";
	color:  #cccccc;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
}

.submit {
	display: inline-block;
  cursor: pointer;
  vertical-align: top;
  background-color: #95e1d3;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #95e1d3;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.submit:hover {
	background-color: #1ac1a2;
}


.blog-title {
  font-family: "Montserrat";
  color:  #333333;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: inline-block;
}

.blog-item {
	overflow: hidden;
	height: auto;
	margin-bottom: 26px;
}

.blog-img {
	min-width: 120px;
  min-height: 80px;
	float: left;
}

.blog-img img {
	width: 100%;
}

.blog-text {
	float: left;
	width: 300px;
	padding: 16px 85px 0 20px;
}

.blog-text a {
  font-family: "Montserrat";
	text-decoration: none;
	color:  #333333;
	font-size: 12px;
  font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
  text-align: left;
}

.blog-text time {
	font-family: "Roboto";
	display: block;
	color:  #999999;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
}


.instagram-title {
	margin-bottom: 40px;
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
  font-weight: 700;
}


.insta {
  float: left;
  margin-left: 2px;
  margin-bottom: 2px;
  width: 88px;
  height: 88px;
}

.inst-hover:hover {
  opacity: 0.5;
  background-color: #95e1d3;
}

.pic1 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -5px -5px;
}

.pic2 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -103px -5px;
}

.pic3 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -201px -5px;
}

.pic4 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -5px -103px;
}

.pic5 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -103px -103px;
}

.pic6 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -201px -103px;
}

.pic7 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -5px -201px;
}

.pic8 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -103px -201px;
}

.pic9 {
  background: url(http://i.cubeupload.com/Jyjm04.png) no-repeat -201px -201px;
}

.more-photo {
	font-family: "Roboto";
	display: inline-block;
	color: #333333;
	font-size: 13px;
	text-decoration: none;
	font-weight: 300;
	font-style: italic;
	margin-top: 16px;
}

footer .copyrights {
	border-top: 1px solid #e5e5e5;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-size: 14px;
	color: #333333;
}

footer .copyrights a {
  font-family: "Montserrat";
  color:  #f38181;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
